/* Tooltip */
.google-visualization-tooltip path{
  fill:#44271a;
  opacity : 0.7;
}
.google-visualization-tooltip text{
  fill:#fff;
}
/* Tooltip */

/* Data Table Chart */
.graph_table_header_row {
  height							: 2.5em;
  background-color		: #e5e5e5;
  background-image		: none;
  font-weight					: bold;
  text-align					: center;
}
.graph_table_header_row th {
  width								: 60%;
}
.graph_table_row {
  background-color		: #ffffff;
}
.graph_odd_table_row {
  background-color		: #eeeeee;
}
.graph_hover_table_row {
  background-color		: #e7e9f9;
}
.graph_select_table_row {
  background-color		: #d6e9f8;
}
/* Data Table Chart */
